.item1 { 
    grid-area: menu;
    width:280px;
    grid-template-columns: 280px 1fr;
    min-width: 280px; /* Ensure the sidebar doesn't shrink below 250px */
}

.item2 { 
    grid-area: main;
    width:60%;
    margin-left: 90px;
}
.grid-container
{
    display: grid;
    grid-template-areas: 
    'menu main main main main'
    'menu main main main main'
    'menu main main main main';

    gap: 160px;
    padding: 130px;
}