.item1 { grid-area: menu}
.item2 { grid-area: main}
.grid-container
{
    display: grid;
    grid-template-areas: 
    'menu main main main main'
    'menu main main main main'
    'menu main main main main';

    gap: 10px;
    padding: 10px;
}