.search { grid-area: search; padding-bottom:30px}
.main_css{ 
    grid-area: main;
    overflow-wrap: break-word; 
}
.grid-container
{
    display: grid;
    grid-template-areas: 
    'search search search search'
    'main main main main main'
    'main main main main main';
    grid-template-columns: 200px 1fr;
    gap: 20px;
    padding: 10px;
}